{% extends 'layout.html' %}

{%  block title %}Page Not Found{% endblock %}

{% block content %}
    <h1>Page Not Found</h1>
    <p>
        The page you are looking for are no longer available
    </p>
{% endblock content %}