{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {{ super() }}
    <div class="container">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <div class="jumbotron">
            <h2>301 Redirect Test</h2>

            <form action="{{ url_for('home.index') }}" method="post">
                {{ form.url(class_='form-control', placeholder='URL', required='required') }}
                <br>
                {{ form.submit(class_='btn btn-info') }}
                {{ form.csrf_token }}
            </form>
        </div>
        <hr/>
        <div class="row">
            {{  h|safe }}
        </div>
{#        <div class="row">#}
{#            {% for name in headers %}#}
{#                <li class="form-control">#}
{#                    {{ name }}: {{ headers[name] }}#}
{#                </li>#}
{#            {% endfor %}#}
{#        </div>#}
    </div>
{% endblock %}

