{% extends 'bootstrap/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
{% block content %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('home.index') }}">Home</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>